@font-face {
  font-family: 'Annie Use Your Telescope';
  font-style: normal;
  font-weight: normal;
  src: local('Annie Use Your Telescope'), local('AnnieUseYourTelescope'), url('2cuiO5VmaR09C8SLGEQjGgtSTT_xyPSRqbb82lxMsRF2IY20qb3OO3nusUf_NB58.woff') format('woff');
}

body{
  background: #666;
  font-family: 'Annie Use Your Telescope';
}


h1{
  font-size: 900%;
  margin: 10px;
}

h2{
  font-size: 400%;
}

h3{
  font-size: 200%;
}
div.slide{
  width: 1024px;
  height: 760px;
  border: 1px solid #ccc;
  
  color: #444;
  border-radius: 5px;
  padding: 10px; 
  background: url('../img/paper.png');

}

li{
  font-size: 400%;
  padding: 20px;
  margin-left: 80px;
}

div.arrow{
  display: relative;
}

div.flat{
  box-shadow: 0px 0px 20px #444;
}
div.threedee{
  box-shadow: 0px 10px 20px #444;
}

/* Slide 1 */
div#title{
  text-align: center;

}

/* Slide 2 */

div#intro{
  text-align: center;
}
div#intro img{
  height: 740px;
  border-radius: 5px;
  border: 10px solid #fff;
}


/* Slide 3 */

div#why-node{
  background:#eee;
  padding: 10px;
  text-align:center;
}

/* Slide 4 */

div#motivation{
  text-align: center;
}

div#motivation img{

  border-radius: 5px;
  border: 10px solid #fff;
 

}

img#html5{
  display:inline-block;
  width: 454px;
  margin-bottom:-40px;
  margin-top:20px;

}

img#socket-small{
    display:inline-block;
  width: 454px;
}

/* Slide 5 */

div#delivery1{
  color: #444;
  border-radius: 5px;
  padding: 10px; 
  background: url('../img/paper.png');
  text-align: center;
}
div#step1{

  margin-top: 20px;
}

div#step1 img{
  width: 300px;
  border: 5px solid #fff;
  border-radius: 5px;
}


div#arrow1{
  display: inline-block;
  -webkit-transform: rotate(180deg) scale(1.4);


}

p#arrow1-text{
    display: inline-block;
    position: absolute;
  top: -90px;
  left: 70px;
  font-size: 200%;

}

div#step2{
  word-wrap: break-word;
  width: 340px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: whiteSmoke;
  padding:10px;
  border:1px solid #ccc;
  border-radius:4px;
  font-size:120%;
}

div#arrow2{
      display: inline-block;
  -webkit-transform: rotate(180deg) scale(1.2);


}

img.socketio{
        display: inline-block;
  left: 50px;
  top: -20px;
  position:absolute;
  height: 50px;
  
}

div#delivery3{
 background-color: whiteSmoke;

   color: #444;
  border-radius: 5px;
  padding: 10px; 
  background: url('../img/paper.png');
  text-align: center;
  text-align: center;

}

img.browsers{
  background: #fff;
  border:10px solid #ddd;
  border-radius: 5px;
  width: 300px;

}

div#delivery3 pre{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: whiteSmoke;


  font-size: 120%;
}

div#delivery3 pre span{
  color: green;
}
/* Slide 6 */

div#demonstration h1{
  text-align: center;
  margin-top: 200px;
}

/* Slide 7 */


/* Slide 8 */


/* Slide 9 */
div#thank-you{
  text-align: center;
  border:none;
  box-shadow:none;
    background-image: url('../img/envelope.png') ;
    background-repeat: no-repeat;
    background-size: 100%;
  width: 1000px;
  height: 600px;
  padding: 10px;
}

div#thank-you h1{
  font-size: 800%;
  margin-top: 30px;
}